/* BOOTSTRAP */

.body {
    padding-top: 3.9rem;
}

.bg-brown {
    background-color: #25201c !important;
}

.bg-brown-light {
    background-color: #38312b !important;
}

.text-gold {
    color: #FDE028 !important;
}

.dropdown-divider {
    border-top: 1px solid #FDE028 !important;
}

.btn-outline-gold {
    color: #FDE028 !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: #FDE028 !important;
}

.btn-outline-gold:hover, .btn-outline-gold:active {
    color: #25201c !important;
    background-color: #FDE028 !important;
    background-image: none !important;
    border-color: #FDE028 !important;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #25201c !important;
    text-decoration: none;
    background-color: #FDE028 !important;
}

.nav-link:hover {
    color: #FFC400 !important;
    text-decoration: none !important;
}

.navbar-toggler-icon {
    background-image: url();
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.fixed-top-2 {
    margin-top: 0px !important;
}

/* FIM BOOTSTRAP */

/* ICONES */

.fa {
    color: #FDE028 !important;
}

.fa:hover {
    color: #FFC400 !important;
}

.carrinho {
    font-size: 200% !important
}

#carrinho .p1[data-count]:after {
    position: absolute;
    height: 25px;
    width: 25px;
    right: -10px;
    top: -10px;
    content: attr(data-count);
    font-size: 75%;
    padding: 0;
    border-radius: 50%;
    line-height: 2em;
    color: white;
    background: rgba(255, 0, 0, .85);
    text-align: center;
    min-width: 1em;
    font-weight: bold;
}

