.red {
    color: #FF0000 !important;
}

.yellow {
    color: #FDE028 !important;
}

#indep {
    background: url('../img/ship2.jpg') no-repeat;
    height: 500px;
}

#armas {
    background: url('../img/guns.jpg') no-repeat;
    height: 500px;
}