/* OVERRIDES */

.breadcrumb-item::before {
    content: ">" !important;
    cursor: default !important;
    text-decoration: none !important;
}

.breadcrumb-item:first-child::before {
    content: "" !important;
}

.card-header, .card-footer {
    border: none !important;
}

.form-check input, .form-check label {
    cursor: pointer !important;
}

/* FIM OVERRIDES */

#foto-grande {
    max-height: 450px !important;
}

.foto-menor-li {
    border: transparent 1px solid;
    cursor: pointer !important;
}

.border-top-brown {
    border-top: #25201c 1px solid;
}

.foto-menor {
    max-width: 75px !important;
}

#fotos-produto, #infos-produto {
    border: none !important;
}

#ul-rating li, .foto-menor-li {
    margin-right: 0 !important;
}

#ul-rating li img:hover {
    cursor: pointer !important;
}

#preco-desconto::before {
    text-decoration: none !important;
    font-weight: normal !important;
    content: "De: " !important;
}

#preco-desconto {
    text-decoration: line-through !important;
}

#preco::before {
    font-size: 40% !important;
    font-weight: normal !important;
    content: "Por: " !important;
}

#preco::after {
    color: #28a745 !important;
    font-weight: normal !important;
    font-size: 50% !important;
    vertical-align: 35% !important;
    content: " (-20%!)" !important;
}

#fav {
    cursor: pointer!;
}

#fav:hover {
    cursor: pointer !important;
}

#fabricante::before {
    font-size: 50% !important;
    content: "by " !important;
}

#h6-boleto::after {
    font-size: 75% !important;
    content: " - Compra aprovada entre 1 e 2 dias após pagamento" !important;
}

#h6-cartao::after {
    font-size: 75% !important;
    content: " - Aprovação imediata!" !important;
}

#h6-frete-expresso::after {
    font-size: 75% !important;
    content: " - Chegará até ás 10h do dia seguinte à aprovacão!" !important;
}

#h6-frete-normal::after {
    font-size: 75% !important;
    content: " - Chegará entre 6 e 7 dias úteis após à aprovacão!" !important;
}

#btn-comprar{
    color: #28a745 !important;
    line-height: 200% !important;
    font-size: 200% !important;
}

#btn-comprar:hover{
    color: #ffffff !important;
}